@import url(fonts/clear-sans.css);

/*
css基础选择器分类：
1.元素选择器：标签名 {}
2.ID选择器：#ID名 {}
3.类选择器：.class名 {}
4.通配符选择器：* {}
5.组合选择器, html, body {}

margin是指外边距，padding指的是内边距；上下左右四个方向的顺序为顺时针
margin: 10px 表示内容距外边距上下左右均为10px
margin: 10px 20px 表示上下外边距10px，左右外边距20px
margin: 10px 20px 30px 表示上边距10px，左右边距20px，下边距30px

#faf8ef中的6位16进制两位为一组，分别表示红、绿、蓝
#FF0000表示红色，#00FF00表示绿色，#0000FF表示蓝色
当1，2位相同且3，4位相同且5，6位相同时，可以缩写，
例如#FF0000可缩写为#F00
也可用rgb(255, 0, 0)表示红色，或者直接用 red, 例如：{color: red}

backgroud用于设置背景颜色，color用于设置元素的文本颜色
font-family设置段落字体，如果浏览器不支持第一个字体名称，则会选择第二个，只有当字体名中包含空格时，才需要使用引号括起来
例如"Clear Sans", 当浏览器不支持这些字体时，则会选择一种sans-serif字体，
所以设置的时候最后一个字体需要设置为一个通用的字体系列。

font-size设置文本大小
*/

html,
body {
    margin: 0;
    padding: 0;
    background: #faf8ef;
    color: #776e65;
    font-family: "Clear Sans", "Helvetica Neue", Arial, sans-serif;
    font-size: 18px;
}

body {
    margin: 80px 0;
}


/*
font-size表示字体大小
font-weight表示字体宽度，bold表示加粗
margin表示外边距，
display设置显示效果，inline前后不带有换行，none表示元素不显示，block表示元素前后带有换行
float用于元素浮动，left表示元素向左浮动(即出现在该行的最左边，其他文字会围绕该元素周围)
*/

h1.title {
    font-size: 80px;
    font-weight: bold;
    margin: 0;
    display: block;
    float: left;
}


/*
text-align: 设置文本对齐方式
*/

.scores-container {
    float: right;
    text-align: right;
}


/*
css选择器的三种分割形式
1. .a.b 连写形式，当前元素同时具备两种类才会生效
2. .a, .b  逗号分隔，当前元素只要有其中一个就会生效
3. .a .b 通过空格隔开，当元素class包含"a", 子元素class包含"b"时生效

position设置元素的定位类型，relative表示相对定位
inline-block表示行内块元素
line-height设置行间距
font-weight设置字体宽度，bold表示加粗
border-radius添加圆角边框
margin-top设置元素的上外边距
*/

.score-container,
.best-container {
    position: relative;
    display: inline-block;
    background: #bbada0;
    padding: 15px 25px;
    font-size: 25px;
    height: 25px;
    line-height: 47px;
    font-weight: bold;
    border-radius: 3px;
    color: white;
    margin-top: 8px;
    text-align: center;
}


/*
position设置元素的定位类型，absolute表示绝对定位
text-transform对元素文本进行字符串操作，uppercase表示全部大写
line-height设置行间距
*/

.score-container::after,
.best-container::after {
    position: absolute;
    width: 100%;
    top: 10px;
    left: 0;
    text-transform: uppercase;
    font-size: 13px;
    line-height: 13px;
    text-align: center;
    color: #eee4da;
}


/*
1.双冒号表示伪元素，在CSS2中用单引号，CSS3中用双引号表示，与伪类区分
2.用于向某些选择器设置特殊效果，after表示在元素内容后面插入content表示的内容，
即在元素内容前插入"分数"
3.before表示在前面插入
*/

.score-container::after {
    content: "Score";
}

.best-container::after {
    content: "Best";
}


/*
margin-bottom表示下外边框
*/

.heading {
    margin-bottom: 10px;
}


/*
1.clear用于设置元素的哪一侧不允许其他浮动元素
2.both表示两个均不允许出现浮动元素
*/

.heading::after {
    content: "";
    display: block;
    clear: both;
}


/*
display设置为block表示该元素前后带有换行符
clear设置为both表示两侧均不允许出现浮动元素
*/

.above-game::after {
    content: "";
    display: block;
    clear: both;
}


/*
margin-bottom表示下外边距
box-sizing表示设置？？？？
*/

.game-intro {
    float: left;
    line-height: 42px;
    margin-bottom: 0;
    width: 55%;
    display: block;
    box-sizing: border-box;
    line-height: 1.65;
}

.restart-button {
    background: #8f7a66;
    border-radius: 3px;
    padding: 0 20px;
    text-decoration: none;
    color: #f9f6f2;
    height: 40px;
    line-height: 42px;
    display: block;
    text-align: center;
    float: right;
}

.restart-button {
    width: 42%;
    padding: 0;
    display: block;
    box-sizing: border-box;
    margin-top: 2px;
}